{% extends "auctions/layout.html" %} {% block title %} New Listing {% endblock %} {% block body %} {% if msg %}
<div class="alert alert-dismissible">{{msg}}</div>
{% endif %}
<form action="{% url 'new' %}" method="post" role="form">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{user}}">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea name="description" cols="30" rows="3" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label>Minimum bid</label>
        <input type="number" name="minBid" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Image URL</label>
        <input type="url" name="imgURL" class="form-control">
    </div>
    <div class="form-group">
        <label>Category</label>
        <select name="category" class="form-control-sm">
					{% for category in categories  %}
					<option value="{{category.id}}">{{category.name}}</option>
					{% endfor %}
				</select>
    </div>
    <button type="submit" class="btn btn-lg btn-outline-success fa-adn pull-right mx-5">Post</button>
</form>
{% endblock body %}